RewriteEngine On
RewriteCond %{REQUEST_URI} ^/s.*$ [NC]
RewriteRule ^s/.*$ /index.html [L]

RewriteCond %{HTTP:KERSSL} !on
RewriteRule ^(.*)$ https://lmbtfy.cn/$1 [R,L]
Header set Strict-Transport-Security "max-age=31536000"